<div class="container">
  <br>
  <div class="col-12 col-md-12 col-lg-12 col-xl-12" id='body'><h1>{{title}}</h1>
    <h3>Where are the <i>really</i> old publications?</h3>
    <p>This website came about because there was no easy way to read old Watchtower publications.</p>
    <p>Some congregations have bookshelves of old publications, but these libraries are becoming increasingly rare.
    There was the Watchtower Library CD-ROM (largely superceded by The Watchtowr Online Library) - which is a great source for most publications - but this didn't include publications made before the 1960's 
    and was therefore incomplete. Additionally, revisions have been made to the origial publications, making it difficult to find what was written at the time of original publication.</p>
    <h3>Watchtower Archives</h3>
    <p>All of the documents available on this website are scans of the original Watchtower documents.</p>
    <p>Because these documents were digitized using Optical Character Recognition (OCR) software, you may see some 
      translational errors, and this is why both the digital text and the photocopies are available for reference.</p>
    <p>If you would like to submit corrections to the text, please email me a copy of the paragraph with the old and new wordings so I can update the database. If there is interest these submissions can be built into the website itself in a future release.</p>
    <h3>Contact Info</h3>
    <p>Constructive criticism and shooting the breeze are much appreciated! Send me an email at <a href="wtarchives@protonmail.com">wtarchives@protonmail.com</a> or message me anonymously using the <a href=/contact>contact form</a>.</p>
  </div>
</div>