<div class="wrapper">
  
  <div class="col-12 col-md-12 col-lg-6 col-xl-6" id='body'><h1>{{title}}</h1>
    <h3>The Problem</h3>
    <p>This website came about because there was no easy way to read old Watchtower publications.</p>
    <p>Some congregations have bookshelves of old publications, but these libraries are becoming increasingly rare.
    There was the Watchtower Library CD-ROM - which is great - but this didn't include publications made before the 1960's 
    and was therefore incomplete. It also required the use of a desktop computer, which many do not have anymore. Nowadays, 
    phones and small screens are the dominant means to acquire new information.</p>
    <h3>The solution</h3>
    <p>Watchtower Archives. All of the documents available on this website are scans of the original Watchtower documents.</p>
    <p>These documents were then scanned using Optical Character Recognition (OCR) software. There inevitably will be some 
      translational errors, and this is why both the digital text and the photocopies are available for reference.</p>
    <p>If you see an error, please let me know and I will update the database.</p>
    <h3>The Person</h3>
    <p>Send me an email at <a href="wtarchives@protonmail.com">wtarchives@protonmail.com</a>.</p>
  </div>
</div>