<h1>{{title}}</h1>
<h2>Problem Statement</h2>
<p>This website came about because there was no easy way to read old Watchtower publications.</p>
<p>Some congregations have bookshelves of old publications, but these libraries are becoming increasingly rare.
There was the Watchtower Library CD-ROM - which is great - but this didn't include publications made before the 1960's 
and was therefore incomplete. It also required the use of a desktop computer, which many do not have anymore. Nowadays, 
phones and small screens are the dominant means to acquire new information.</p>
<h2>The solution</h2>
<p>Watchtower Archives.</p>
<p>Hello, Luke</p>
