<ul class="list-group">
  <a href="#" q="watchtower" class="browseNavItem list-group-item list-group-item-action">Watchtower</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-secondary">Awake</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-success">Books</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-danger">Letters</a>
  <a href="#" class="browseNavItem list-group-item list-group-item-action list-group-item-warning">Yearbooks</a>
</ul>
