<div class="wrapper">
  <div class="col-12 col-md-10 col-lg-8 col-xl-8" id='body'><h1>{{title}}</h1>
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img class='card-img-top' src='/images/watchtower-coverpage.jpg' alt='Watchtower Magazines'>
          <div class="card-body">
            <h5 class="card-title">Watchtower Magazine</h5>
            <p class="card-text">Spanning from 1886 to 2019, this is the most extensive series of Watchtower publications.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>