<div class="wrapper">
  <div class="col-12 col-md-10 col-lg-8 col-xl-8" id='body'><h1>{{title}}</h1>
    <div class="row">
      <div id="browseContainer" class="col-12">
      </div>
  </div>
</div>
<script>

  //loads navigation element of 'browse' webpage
  function initNavigation() {
    var logElem = document.querySelector("#browseContainer");
    var xhr = new XMLHttpRequest();
    xhr.open('GET', '/browse/hello/howareyou');
    xhr.onload = function() {
        if (xhr.status === 200) {
            logElem.innerHTML += xhr.response;
        }
        else {
            alert('Request failed.  Returned status of ' + xhr.status);
        }
    };
    xhr.send();
  }

  // do asap
  initNavigation();

  //listens for a click anywhere on the webpage
  document.addEventListener('click', function (event) {
    // If the clicked element doesn't have the right selector, bail
    if (!event.target.matches('.browseNavItem')) return;

      // Log the clicked element in the console
      console.log(event.target.getAttribute('q'));

  }, false);
</script>

<!-- old card style, goes under wrapper > body > row:
      <div class="col-sm-6">
        <div class="card cat1-pubs">
          <img class='card-img-top' src='/images/watchtower-coverpage.jpg' alt='Watchtower Magazines'>
          <div class="card-body">
            <h5 class="card-title">Watchtower Magazine</h5>
            <p class="card-text">Spanning from 1886 to 2019, this is the most extensive series of Watchtower publications.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
 -->