<h1>Ready, Set, Search.</h1>
<p>An accessible, non-opinionated source of publications produced by the Watchtower Bible and Tract Society. <a href='/about'> Read More...</a></p>
<p>Welcome to {{title}}</p>
