<link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

<div class="wrapper">
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading text-uppercase"><span>Accessible, Non-Opinionated, Searchable</span></div>
      <div class="intro-lead-in"><span>An archive of pre-1956 publications produced by the Watchtower Bible and Tract Society.</span></div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/browse">Browse Library</a>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/about">Learn More</a>
    </div>
  </div>
</header>
</div>