<div class="wrapper">
  
  <div class="col-12 col-md-12 col-xl-10" id='body'>
    <div class="jumbotron">
      <h1 class="display-4">Hello, world!</h1>
      <p class="lead">An accessible, non-opinionated source of publications produced by the Watchtower Bible and Tract Society.</p>
      <hr class="my-4">
      <p>Be careful of the sharp edges, this website is still in development.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
      </p>
    </div>
  </div>
</div>