<div class="container">
  <br>
  <div class="col-12 col-md-12 col-lg-12 col-xl-12" id='body'><h1>{{title}}</h1>
    <h4>Where can I find physical hard-copies of these old publications?</h4>
      <ul>
        <li>Your local Kingdom Hall's library</li>
        <li>Ebay and other used bookstores have <a href="https://www.ebay.com/sch/i.html?_nkw=watchtower">vintage publications for sale</a>.</li>
      </ul>

    <h4>Official Sources</h4>
    <ul>
      <li>Watch Tower Online Library: <a href='/to/wol.jw.org'>wol.jw.org</a></li>
      <li>Watch Tower Bible and Tract Society: <a href='/to/jw.org'>JW.org</a></li>
    </ul>
    <p><small>Watchtower Archives is not affiliated with the Watch Tower Bible and Tract Society of Pennsylvania</small></p>
  </div>
</div>