@media (min-width: 568px) {
  #body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  /*padding: 3rem;
  max-width: 1200px; */
  margin: auto;
  }
}

@media (min-width: 568px) {
  #breadcrumbsBarCentering {
  /*padding: 3rem;
  max-width: 1200px; */
  margin: auto;
  }
}
@media (max-width: 568px) {
  #breadcrumbsBarCentering h4 {
    font-size: 1.3rem;
  }
}
#searchbox {
  margin:auto;
}
/*#breadcrumbsMenu {
}*/
/* Browse-specific theming */
.cat1-pubs {
  width: 18rem;
}
.breadcrumsElement {
  display: inline-block;
}

/*#searchSettings {
  fill: white !important;
  stroke: white !important;
  background-image: url(/images/gear.svg);
  display: inline-block;
  width: 14px;
  height: 16px;
}*/

.img-search {
  fill: white !important;
  stroke: white !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  background-image: url(/images/search.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#bootstrap-override .title  {
  font-weight: bold;
  color: #000000;
  font-size: 1.5rem!important;
  text-decoration: none;

}

.searchResultsContainer h3 { 
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; 
  margin-bottom: 5px !important; 
}

.searchResultsContainer h3 > a, .search-result i { 
  color: #248dc1 !important; 
}

b {
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif
}
