@media (min-width: 568px) {
  #body {
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  /*padding: 3rem;
  max-width: 1200px; */
  margin: auto;
  }
}

@media (min-width: 568px) {
  #breadcrumbsBarCentering {
  /*padding: 3rem;
  max-width: 1200px; */
  margin: auto;
  }
}
@media (max-width: 568px) {
  #breadcrumbsBarCentering h4 {
    font-size: 1.3rem;
  }
}

.breadcrumbsPath {
	max-width:'70vw';  
}
#searchbox {
  margin:auto;
}
/*#breadcrumbsMenu {
}*/
/* Browse-specific theming */
.cat1-pubs {
  width: 18rem;
}
.breadcrumsElement {
  display: inline-block;
}

/*#searchSettings {
  fill: white !important;
  stroke: white !important;
  background-image: url(/images/gear.svg);
  display: inline-block;
  width: 14px;
  height: 16px;
}*/

.img-search {
  fill: white !important;
  stroke: white !important;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  background-image: url(/images/search.svg);
  width: 16px;
  height: 16px;
  display: inline-block;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.searchResultsContainer h3 { 
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; 
  margin-bottom: 5px !important; 
}

.searchResultsContainer h3 > a, .search-result i { 
  color: #248dc1 !important; 
}

b {
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif
}

p {
  line-height: 1.5;
}

/* main page styling */
.masthead {
  text-align: center;
  color: black;
  background-image: url(../images/main2-light.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  height:95vh;
}

.intro-text {
  padding-top:7vh;
  padding-bottom: 25vh;
}

.intro-lead-in {
  line-height: 40px;
  margin-bottom: 4vh;
  font-size: 25px;
  font-style: italic;
  font-family: 'Droid Serif',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.intro-lead-in span {
  background: rgba(255, 255, 255, 1);
  padding: 5.5px;
}

.intro-heading {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  font-size: 45px;
  margin-bottom: 4vh;
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';
}
.intro-heading span {
  background: rgba(255, 255, 255, 1);
  padding: 4.25px;
}
/* END main page styling */
