#main {
  padding: 3rem;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: auto;
}
#searchbox {
	padding: 0 3rem 0 3rem;
	margin:auto;
}

.img-search {
	padding: 0 0 3px 0;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

#bootstrap-override .title  {
  font-weight: bold;
  color: #000000;
  font-size: 1.5rem!important;
  text-decoration: none;

}

.searchResultsContainer h3 { font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif; margin-bottom: 5px !important; }
.searchResultsContainer h3 > a, .search-result i { color: #248dc1 !important; }

b {
  font: 500 normal 1.375em "Roboto",Arial,Verdana,sans-serif
}